.blank
  h1 Studio Ghibli Movies 
    
.hero
  h1.top(data-delighter) Japanese Animation Film Studio
  h1.left(data-delighter) Founded on June 15, 1985.
  h1.right(data-delighter) Over 20 films and television shows. All have intricate watercolor, acrylic 2D animation and vivid colors.
  h1.bottom(data-delighter) The movies feature themes of love, friendship, environmentalism, the cost of war and youth. 
.blank
  .gallery
    img.img-small.left(src="https://i.imgur.com/CmDFwFL.jpg" data-delighter height="400px" width="250px") 
    img.img-small.top(src="https://i.imgur.com/17sEAKX.jpg" data-delighter height="400px" width="250px")
    img.img-small.right(src="https://i.imgur.com/bFHusUi.jpg" data-delighter height="400px" width="250px")
    img.img-small.bottom(src="https://i.imgur.com/lttHAqm.jpg" data-delighter  height="400px" width="250px")
    img.img-small.right(src="https://i.imgur.com/8wZVFNi.jpg" data-delighter height="400px" width="250px")
    img.img-small.bottom(src="https://i.imgur.com/e6TMUBg.jpg" data-delighter height="400px" width="250px")
    img.img-small.top(src="https://i.imgur.com/f4SaeiX.jpg" data-delighter height="400px" width="250px")
    img.img-small.left(src="https://i.imgur.com/jH85yo1.jpg" data-delighter height="400px" width="250px")
    
    